<nav class="sidebar">
  <div class="sidebar-header bg-white border-0">
    <a href="index" class="sidebar-brand">
     <img id="logo" src='assets/images/logo.png'/>
    </a>
    <div class="sidebar-toggler not-active">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="sidebar-body ps ps--active-y bg-light border-0">
    <ul class="nav" id="barraNavegacion">

  <li class="nav-item">
    <a href="index"  class="nav-link">
      <i class="link-icon" data-feather="home"></i><span class="link-title">Inicio</span>
    </a>
  </li>

  <li class="nav-item">
    <a href="comandos"  class="nav-link">
      <i class="link-icon" data-feather="clipboard"></i><span class="link-title">Comandos</span>
    </a>
  </li>
    </ul>
  </div>
</nav>
