<!-- TODO: MIRAR QUE NO SE ME DESCUADREN AL HACE ZOOM -->
<div [style.left.px]="left ? getPositionLeft() : (right ? getPositionRight() : '398')" [ngClass]="left ? 'left': (right ? 'right' : 'posicion')" style="width: fit-content; height: 160px;">
  <app-step-box (edit)="editStep()" class="step-box-position"></app-step-box>
  <div style="width:fit-content; height: 128px;" class = "conditionals-positon">
    <div class="line-linkage-down"></div>
    <div class="line-linkage-up-true"></div>
    <div class="line-linkage-up-right-true"></div>
    <div class="line-linkage-left-true"></div>
    <div class="true-position">
      <app-true></app-true>
    </div>
    <div class="line-linkage-conditionals"></div>
    <div class="false-position">
      <app-false></app-false>
    </div>
    <div class="line-linkage-right-false"></div>
    <app-plus (open)="openSideBar()" class="plus-false"></app-plus>
  </div>
</div>
