.true-position{
  position: relative;
  top:-20px
}

.plus-true{
  position: relative;
  top: 192px;
  left: -22.9em;
}

.line-linkage-left-true {
  width: 15em;
  height: 0px;
  border: 0.5px solid lightgrey;
  position: relative;
  top: -0.6em;
  left: -15rem;
  z-index: -1000;
}

.line-linkage-conditionals {
  width: 3.6em;
  height: 0px;
  border: 0.5px solid lightgrey;
  position: relative;
  top: -31px;
  left: 2.4rem;
  z-index: -1000;
}

.false-position{
  position: relative;
  left: 6em;
  top: -65px;
}

.line-linkage-right-false {
  width: 15em;
  height: 0px;
  border: 0.5px solid lightgrey;
  position: relative;
  top: -53px;
  left: 127px;
  z-index: -1000;
}

.plus-false{
  position: relative;
  top:-25px;
  left: 15.2em;
}

.conditionals-positon{
  position: relative;
  left: 5.5em;
  top:- 165px;
}

.line-linkage-down {
  width: 0px;
  height: 39px;
  border: 0.5px solid lightgrey;
  position: relative;
  top: 55px;
  left: 4.5rem;
  z-index: -1000;
}

.step-box-position{
  position: relative;
  left: 35.5px;
  top: -130px;
}

.line-linkage-up-true {
  width: 0px;
  height: 60px;
  border: 0.5px solid lightgrey;
  position: relative;
  top: -7px;
  left: -15rem;
  z-index: -1000;
}

.line-linkage-up-right-true {
  width: 15.2em;
  height: 0px;
  border: 0.5px solid lightgray;
  position: relative;
  top: -69px;
  left: -239px;
  z-index: -1000;
}

.position {
  position: relative !important;
  top: -90px;
}

.left{
  position: relative;
  top: 144px;
}

.right{
  position: relative;
  top: 269px;

}

.posicion{
  position: relative;
  top: 124px;
}







