.posicion-true{
  position: relative;
  top: -171px;
  left: 23rem;
}

.posicion-false{
  position: relative;
  top: 25px;
  left: 30rem;
}

.header{
  position: relative;
  float: right;
  width: auto;
}

.position{
  position: relative;
  left: 60em;
  top: -40px;
}
