#info{
  background-color: rgb(155, 155, 155);
  padding: 3px;
  position: fixed;
  z-index: 80;
}

i {

  color: white;
  font-size: 1.25ch;
  z-index: 90;

}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 10px;
}

.flex-container > div {
  margin: 1rem;
  text-align: center;

}

.mat-drawer-container {
  position: relative;
  z-index: 1;
}
