.chip-list {
  width: inherit;
  position: inherit;

}
#dd{
  width: 30%;
  height: auto;
  flex-grow: 1;
  margin-bottom: 1rem;
}

.button{
  margin-left: 1rem;

  height: fit-content;
  width: min-content;


}

