.flex-container {
  display: flex;
  flex-wrap: nowrap;

  padding-left: 30px;
  width: 100%;
}

.info {
  margin-top: 2%;
  flex: 0.25;
}

app-labels{
  position: relative;
  flex: 0.5;
  width: max-content;
}

