
.button {
  min-height: 1em;
  border: black;
  vertical-align: baseline;
  background: rgb(236, 233, 233);
  color: rgba(0,0,0,.6);
  margin: 1rem;
  padding: 15px 32px;
  left: 4px;
  position: inherit;
  top:40px;
}

.open{
  box-shadow: 0 0 10px #0f798f;
}

.button:hover{
  box-shadow: 0 0 10px #0f798f;
}

.line-linkage-down {
  width: 0px;
  height: 50px;
  border: 0.5px solid lightgrey;
  position: relative;
  top: -30px;
  left:5.5rem;
  z-index: -1000;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: auto;
  padding: 10px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

span {
  color: #fff;
  width: 38px;
  display: flex;
  font-size: 0.85rem;
  background: #6e96e0;
  font-weight: 500;
  align-items: center;
  border-radius: 0.3em;
  justify-content: center;
  cursor: inherit;
  flex: 1 0 auto;
  flex-direction: unset;

}


///////////////////////////////////////////////@at-root

* {
  box-sizing: border-box;
}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  max-height: 100%;
  height:100vh;
  display:flex;
  flex-direction: column;
}

#col1{
  width: 23%;
  background-color: #57D6B1;
}

#col2{
  width: 70% !important;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.search, .search * {
  box-sizing: border-box;
}


.search .search-input {
  flex: 1 1;
  min-width: 1px;
  font-size: 1em;
  line-height: 32px;
  background: transparent;
  transition: all .25s ease-in-out;
  font-family: inherit;
  border: 0;

}

*:focus {
  outline: none;

}

.search.center, .search .center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.search {
  z-index: 99999;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.search .search-input__group {
  display: flex;
  align-self: center;
  border-radius: 500px;
  margin-top: 1rem;
  border: 2px solid #000;
  color: #000;
  transition: all .25s ease-in-out;
  padding-left: 16px;
}

svg:not(:root) {
  overflow: hidden;
}

.search .search-input__btn {
  cursor: pointer;
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  padding: 0 16px;
  transition: all .25s ease-in-out;
  border: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table td:first-child {
  width: 100px;
}


table td:last-child {
  width: 50px;
}

mat-icon:hover{
  cursor: pointer;
}

.icon:hover{
  cursor: pointer;
}

