
.button {
  min-height: 1em;
  border: black;
  vertical-align: baseline;
  background: rgb(236, 233, 233);
  color: rgba(0,0,0,.6);
  margin: 1rem;
  padding: 15px 32px;
  left: 4px;
  position: inherit;
  top:40px;
}

.button:hover{
  box-shadow: 0 0 10px #0f798f;
}

.line-linkage-down {
  width: 0px;
  height: 50px;
  border: 0.5px solid lightgrey;
  position: relative;
  top: -30px;
  left:5.5rem;
  z-index: -1000;
}
