<div >
  <h3>Nombre del paso <span style="color: red;">*</span></h3>
  <input id="Title" (change)="saveName()" style="width: fit-content" placeholder="Escribe aquí el nombre del step">
</div>

<div id="Descripción">
  <h3>Descripción</h3>
  <textarea style="width: 300px;" (change)="saveName()" placeholder = "Escribe aquí la Descripción del step" id="descripcion" rows="8" cols="60" >{{step[column][row].description}}</textarea>
</div>

<h3>Buscador semántico <input (click)="showSearchBox()" type="checkbox" id="cbox1" [checked]="Show()" value="first_checkbox"></h3>

<a  href="javascript:void(0)" (click)="openAdvanceOptions()">Opciones avanzadas <span><mat-icon style="
  position: relative; top: 7px; ">arrow_right_alt</mat-icon></span></a>
