<!-- TODO: MIRAR QUE NO SE ME DESCUADREN AL HACE ZOOM -->
<div id="1"  [style.left.px]="left ? getPositionLeft() : (right ? getPositionRight() : '85')"  [ngClass]="left ? 'left': (right ? 'right' : 'posicion')" style=" width: fit-content; height: 124px;">
  <app-step-box class="step-box-position"></app-step-box>

  <div class = "conditionals-positon">
    <div class="line-linkage-down"></div>
    <app-plus (open)="openSideBar('left')" class="plus-true"></app-plus>
    <div class="line-linkage-left-true"></div>
    <div class="true-position"><app-true ></app-true></div>
    <div class="line-linkage-conditionals"></div>
    <div class="false-position"><app-false></app-false></div>
    <div class="line-linkage-right-false"></div>
    <app-plus (open)="openSideBar('right')" class="plus-false"></app-plus>
  </div>
</div>
