.true-position{
  position: relative;
  top:-20px
}

.plus-true{
  position: relative;
  top: 154px;
  left: -22.9em;
}

.line-linkage-left-true {
  width: 15em;
  height: 0px;
  border: 0.5px solid lightgrey;
  position: relative;
  top: -0.6em;
  left: -15rem;
  z-index: -1000;
}

.line-linkage-conditionals {
  width: 3.6em;
  height: 0px;
  border: 0.5px solid lightgrey;
  position: relative;
  top: -31px;
  left: 2.4rem;
  z-index: -1000;
}

.false-position{
  position: relative;
  left: 6em;
  top: -65px;
}

.line-linkage-right-false {
  width: 15em;
  height: 0px;
  border: 0.5px solid lightgrey;
  position: relative;
  top: -53px;
  left: 127px;
  z-index: -1000;
}

.plus-false{
  position: relative;
  top:-25px;
  left: 15.2em;
}

.conditionals-positon{
  position: relative;
  left: 25em;
}

.line-linkage-down {
  width: 0px;
  height: 30px;
  border: 0.5px solid lightgrey;
  position: relative;
  top: 126px;
  left: 4.5rem;
  z-index: -1000;
}

.step-box-position{
  position: relative;
  left: 22em;
  top: 6.4em;
}

.posicion{
  position: relative;
  top: -124px;
}
