<ng-sidebar-container style="height: 93.7vh;">
  <ng-sidebar style="width: 1200%" [opened]= open mode= "push" position="end">
  <header>
    <mat-icon class="header" (click) = "toggleSidebar()">clear</mat-icon>
  </header>
  <div  *ngIf="edit">
    <div>
      <h2>Configuracion</h2>
      <h5>Titulo del step</h5>
      <input id="Title" (change)="saveNameStep()" style="width: 100%;" placeholder="Escribe aquí el nombre del step">
    </div>
    <div>
      <h2>Condiciones</h2>
      <input *ngFor = "let condition of step[column][row].conditions; let i = index" id = "Condicion {{i}}" (change)="saveCondition(i)" style="width: 100%;" value ={{condition}} placeholder="Escribe aquí la condición">
      <button (click)="newCondition()" class="button" type="button">Añadir Condición</button>
    </div>
    <div>
      <h2>Palabras clave que definan el producto</h2>
      <div class= "flex-container">
        <app-labels (added)="lastIndex=$event" id="keywords" [title]=title [placeholder]=placeholder [width] = 100 #keywords></app-labels>
        <app-info   [info] = infoKeywords class = "info infokeywords"></app-info>
      </div>
    </div>
    <div>
      <h2>Lista de sinónimos</h2>
      <div style="width: fit-content" class= "flex-container">
        <app-labels id="synonym" [title]=titleSynonym [placeholder]=placeholderSynonym [width] = widthSynonym ></app-labels>
        <app-info [info] = infoSynonym class = "info a"></app-info>
      </div>
    </div>
  </div>
  <div *ngIf="!edit">
    <app-step-box-right (click)="createStep()"></app-step-box-right>
  </div>

  </ng-sidebar>
      <ng-container ng-sidebar-content class="position" #viewContainer></ng-container>
</ng-sidebar-container>


