<div class="row">
  <div style="color: white;" id="col1" class="column">
    <div style="margin-left: 1rem;">
      <h2 style="align-self: center;">Opciones de configuración</h2>
      <div>
        <h5> Caja de búsqueda</h5>
        <div class="form-group">
          <label class="form-label" for="inputWidth">Ancho</label>
          <div class="row">
            <app-slider #ancho></app-slider>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="inputWidth">Alto</label>
        </div>
        <div class="row">
          <app-slider #alto></app-slider>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="inputWidth">Texto del buscador</label>
      </div>
      <div class="form-group">
        <input #placeholder type="text" class="form-control" id="placeholder" value="search...">
      </div>

      <h5> Resultados</h5>
      <div class="form-group">
        <label class="form-label" for="inputWidth">Ancho</label>
        <div class="row">
          <app-slider  [max] = "66" [value] = "33" #anchoResultados></app-slider>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label" for="inputWidth">Alto</label>
      </div>
      <div class="row">
        <app-slider [max] = "maxResultados" [value] = 250 #altoResultados></app-slider>
      </div>

      <h5> Configuración Nivel semantico</h5>
      <div class="form-group">
        <label class="form-label" for="inputWidth">Nivel semántico</label>
        <div class="row">
          <app-slider  [max] = "100" [value] = "50" #nivelSemantico></app-slider>
        </div>
      </div>
    </div>

  </div>
  <div id="col2" class="column">
    <!-- Search form -->
    <div id="searchbox">
      <div class=" search center">
        <div class="center search-input__group " [style.width.%] = "ancho.value" [style.height.px] = "alto.value" >
          <!-- <input placeholder = {{placeholder.value}}  type="text" autocomplete="off" class="search-input " style="line-height: 32px;"> -->
          <input
            class="search-input"
            type="text"
            id="search"
            placeholder={{placeholder.value}}
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
            (change)="doSearch()">
          <a (click)="doSearch()" class="search-input__btn " tabindex="0"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
             <circle cx="11" cy="11" r="8"></circle>
             <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </a>
        </div>
      </div>
      <mat-autocomplete  panelWidth= "{{anchoResultados.value}}%"  autoActiveFirstOption #auto="matAutocomplete" >
        <div [style.height.px] = "altoResultados.value">
          <mat-option  *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </div>
      </mat-autocomplete>
    </div>
    <div style="position: relative; left: 20%; margin-top:2rem;" #resultado1 id="resultado1" *ngIf="search==true">
      <!-- <table style="margin-top: 2rem; position: relative;
      left: 13%;">
        <tr>
          <th>Relevancia</th>
          <th>Descripción</th>
          <th>URL</th>

        </tr>
        <tr  *ngFor="let result of response; let i = index ">
          <td>{{(result.searchValue*100).toFixed(2)}}</td>
          <td>{{result.dataList[0].description}}</td>
          <td>http://www.soleusfisioterapia.com/fisioterapia-atm.html</td>
          <td >
            <mat-icon (click)="print(i)">file_copy</mat-icon>
          </td>
          <td>
            <div (click)="print(i)" class="icon">
              <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                <path  fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                <path  fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
              </svg>
            </div>
          </td>
        </tr>
      </table> -->
    </div>
    <div *ngFor="let result of response; let i = index " style="position: relative; left: 20%" #resultado2 id="resultado2">
      <div class="card">
        <p  style="height: 0px;">{{(result.searchValue *100).toFixed(2)}}</p>
        <div class="row">
          <div class="column"     style="height: 38px;">
            <h5><a href="blog-detail.html">{{result.dataList.name}}</a></h5>
          </div>
          <div class="column1">
              <button (click)="copia_portapapeles(result.dataList.link)" style="position: relative;top: 11px; left: 1rem" mat-raised-button color="primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg> copiar
              </button>
              <button  (click)="abir_enlace(result.dataList.link)" mat-raised-button color="primary" style="position: relative; top: 11px; left: 1.5rem;">
                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                  <path  fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                  <path  fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                </svg> abrir
              </button>
          </div>
        </div>

        <p>{{result.dataList.description}}...</p>
      </div>
    </div>
  </div>
</div>
