  <div id="mySidebar" class="sidebar" style="margin-left: 1rem;" >
    <div style="background-color: #57D6B1;width: 100%;height: 56px;position:  relative;top: -60px; ">
    <a *ngIf="!vacio" href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    </div>
    <div  style = "margin-left: 1rem; top: -58px; position: relative;"*ngIf="edit">
      <div >
        <h3>Titulo del step <span style="color: red;">*</span></h3>
        <input id="Title" (change)="saveNameStep()" style="width: fit-content" placeholder="Escribe aquí el nombre del step">
      </div>
      <div>
        <h3>Condiciones</h3>
        <div style="margin-bottom: 1rem; margin-top: 1rem" *ngFor="let condition of step[column][row].conditions; let i = index">
          <input  (change)="saveNameStepCondition(i)" id = "Condicion {{i}}" style="width: fit-content" value ={{condition}} ngTrim=false type="text" placeholder="Escribe aquí la condición">
          <div style="margin-top: 1rem ;">
            <div *ngIf="step[column][row].conditionIndex[i].conditionName != undefined" class="flex-container">
              <app-true></app-true>
              <app-combo-box  [id]="'true ' + i" (changed)="saveCondition(i,$event)" style="position: relative;top: -1px;margin-left: 1rem;" [data] = "availableSteps(step)"></app-combo-box>
            </div>
          </div>
        </div>
        <button (click)="newCondition()" class="button" type="button">Añadir Condición</button>
        <h3>Step por defecto</h3>
        <div class="flex-container">
          <app-default></app-default>
          <app-combo-box  [id]="'next Step'" (changed)="createNextStepWithOutConditions($event)" style="position: relative;margin-left: 1rem;" [data] = "availableSteps(step)"></app-combo-box>
        </div>
      </div>
      <div>
        <h3 style="margin-top: 1rem;">Palabras clave</h3>
        <div class= "flex-container">
          <app-labels (removed)="remove($event)" (added)="addDd()" (update)="updateDd($event)" [list]="step[column][row].keywords" id="keywords" [title]=title [placeholder]=placeholder [width] = 100 #keywords></app-labels>
          <app-info [info] = infoKeywords class = "info infokeywords"></app-info>
        </div>
        <div *ngIf="step[column][row].keywords[keywords.currentIndex] != undefined">
          <i style="font-weight: bold;">Palabra clave seleccionada: </i> <i>{{keywords.labels[keywords.currentIndex].name}}</i>
          <div class="row">
              <app-dd #dd [value]="step[column][row].dd[keywords.currentIndex].join()" ></app-dd>
          </div>
        </div>
      </div>
      <div>
          <h3>Lista de sinónimos</h3>
          <div style="width: fit-content" class= "flex-container">
            <app-labels #synonym  [list] = "step[column][row].synonym" id = "synonym" [title] = titleSynonym [placeholder] = placeholderSynonym [width] = widthSynonym ></app-labels>
            <app-info [info] = infoSynonym class = "info a"></app-info>
          </div>

          <div>
            <button  >resize porque pata</button>
          </div>

          <h3>Buscador semántico <input (click)="showSearchBox()" type="checkbox" id="cbox1" value="first_checkbox"></h3>

          <div *ngIf="step[column][row].searchBox.show">
            <div>
              <h5> Caja de búsqueda</h5>
              <div class="form-group">
                <label class="form-label" for="inputWidth">Ancho</label>
                <div class="row">
                  <app-slider (change)="changeAnchoBuscador($event)" #ancho></app-slider>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label" for="inputWidth">Alto</label>
              </div>
              <div class="row">
                <app-slider (change)="changeAltoBuscador($event)" #alto></app-slider>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="inputWidth">Texto del buscador</label>
            </div>
            <div class="form-group">
              <input #placeholder type="text" (change)="changePlaceHolder($event)" class="form-control" id="placeholder" value="search...">
            </div>

            <h5> Resultados</h5>
            <div class="form-group">
              <label class="form-label" for="inputWidth">Ancho</label>
              <div class="row">
                <app-slider (change)="changeAnchoResultado($event)" [max] = "66" [value] = "33" #anchoResultados></app-slider>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label" for="inputWidth">Alto</label>
            </div>
            <div class="row">
              <app-slider (change)="changeAltoResultado($event)" [max] = "maxResultados" [value] = 250 #altoResultados></app-slider>
            </div>
            <h5> Configuración Nivel semantico</h5>
            <div class="form-group">
              <label class="form-label" for="inputWidth">Nivel semántico</label>
              <div class="row">
                <app-slider  [max] = "100" [value] = "50" #nivelSemantico></app-slider>
              </div>
            </div>
          </div>
      </div>

      <!-- <div>
        <button style="margin-top: 1rem;"  (click)="createEnd()" class="button" type="button">END</button>
      </div> -->
      <div>
        <i class="bi bi-trash"></i>
        <button mat-raised-button color="warn" (click)="removeStep(column, row)" class="button" type="button">Borrar</button>
      </div>
    </div>
    <div *ngIf="!edit">
      <app-step-box-right  (click)="createStep()" style="position: relative; left:100px;"></app-step-box-right>
    </div>

  </div>
<!--
  <div >
    <div id="mySearchBox" class="searchBox">
      <div style="background-color: #57D6B1;width: 100%;height: 56px;position:  relative;top: -60px; "></div>
    </div>
  </div>

  <button id="myButton" class="buttonSearchBox" (click)="openSearchBox()">{{labelButtonSearchBox}}</button> -->


<div id="main" style="width: fit-content;">
  <ng-container ng-sidebar-content #viewContainer></ng-container>
</div>
