<div  *ngIf="!procedureFinished">
  <app-title-active-rules (added)="print()" (removed)="display=false" ></app-title-active-rules>
  <app-rules-home [display]= display></app-rules-home>
  <div style=" padding-left: 20px;">
    <button mat-raised-button color="primary" (click)="handleDone()">
      DONE
    </button>
  </div>
</div>
<div *ngIf="procedureFinished" style=" padding: 20px 30px;">
  <p>Procedure created successfully.</p>
  <button mat-raised-button color="primary" (click)="handleReset()">
    RESET
  </button>
</div>

