<h3>Inserción de Sinónimos</h3>

<i>Idioma de los Sinónimos
  <span>
      <app-combo-box-idioma ></app-combo-box-idioma>
  </span>
</i>
<br><br>

<h3>Lista de sinónimos</h3>
<div style="width: fit-content" class= "flex-container">
  <app-labels #synonym  id = "synonym" [title] = titleSynonym [placeholder] = placeholderSynonym [width] = widthSynonym ></app-labels>
  <app-info [info] = infoSynonym class = "info a"></app-info>
</div>

<h3>Listado de sinónimos insertados</h3>
<div style="width: fit-content" class= "flex-container">
  <app-labels #synonym  id = "synonym" [title] = titleSynonym [placeholder] = placeholderSynonym [width] = widthSynonym ></app-labels>
  <app-info [info] = infoSynonym class = "info a"></app-info>
</div>
