<div *ngIf="display">
  <mat-vertical-stepper  [linear]="true" #stepper>
    <mat-step  *ngFor="let step of steps; let i = index" [completed]="step.completed" >
      <form [formGroup]="formGroup">
        <div class="column">
          <ng-template #TitleDefined id="TitleDefined" matStepLabel *ngIf = "step.display" >
            <div class= "flex-container">
              <i class = "title" style =  "font-weight: bold;" > Titulo del step:  </i>
              <i class = "title" style = "margin-left: 0.5rem" > {{ step.title}} </i>
              <div *ngIf = "step.synonym.length != 0" class= "flex-container">
                <i class = "list" style =  "font-weight: bold;"> Lista de sinónimos: </i>
                  <div class= "flex-container" *ngFor="let synonym of step.synonym">
                    <i class = "list" style = "align-self: center"> {{synonym.name }} </i>
                  </div>
              </div>
              <button id="TitleButton"  *ngIf="stepper.selectedIndex === i" mat-raised-button color="primary" (click)="step.display=false"> Edit</button>
              <mat-icon class="delete_icon"  *ngIf="stepper.selectedIndex === i" (click)="removeStep(i)" matTooltip="Remove step" matTooltipPosition="right">delete</mat-icon>
            </div>
          </ng-template>
          <ng-template #TitleUndefined id="TitleUndefined" matStepLabel *ngIf = "!step.display" >
              <div class= "flex-container">
                <input style="width: 100%;" [formControl]="name" id="Title" ngTrim=false type="text" placeholder="Name of step" (keydown)="$event.stopPropagation()" value={{step.title}}>
                <label  *ngIf="name.invalid && isValid" [ngClass] = "'error'"> Name of step is required </label>
                <app-info #keywordsInfo class = "info" [info] = info  *ngIf="stepper.selectedIndex === i"></app-info>
              </div>
          </ng-template>
          <div class="row">
            <div class= "flex-container">
              <app-labels (update)="update($event)" (removed)="remove($event)" (added)="lastIndex=$event" id="keywords" [title]=title [placeholder]=placeholder [textArea] = textArea [editable] = "!step.display" [removable]= !step.display [width] = 200 #keywords></app-labels>
              <app-info  *ngIf="!step.display" [info] = infoKeywords class = "info infokeywords"></app-info>
            </div>
            <div class="col2">
              <button *ngIf ="!steps[i].display" mat-raised-button color="primary" (click)="changeStepSelection($event, i)"> Save</button>
            </div>
          </div>
        </div>
        <div class="column1" style="background-color:lightgrey">
          <h2>Configuracion</h2>
          <div style="width: 50rem" class= "flex-container">
            <app-labels id="synonym" [title]=titleSynonym [placeholder]=placeholderSynonym [width] = widthSynonym [list]=step.synonym ></app-labels>
            <app-info [info] = infoSynonym class = "info a"></app-info>
          </div>
          <br>
          <div  *ngIf="keywords.labels[keywords.currentIndex] != undefined">
            <i style="font-weight: bold;">Palabra clave seleccionada: </i><i>{{keywords.labels[keywords.currentIndex].name}}</i>
            <div class="row">
                <app-dd [readOnly] = "step.display" [value]=dd[keywords.currentIndex]></app-dd>
            </div>
          </div>
          <h3>Condiciones</h3>
          <ng-template></ng-template>
          <div  *ngFor="let conditions of condition">
            <h4>Condición</h4>
            <input type=”text” id=”demo” name=”comboboxdemo”/>
            <select>
            <option>Igual</option>
            <option>mayor</option>
            <option>menor</option>
            <option>mayor o igual</option>
            <option>menor o igual</option>
            </select>
            <h4>Siguiente paso</h4>
            <app-combo-box [data] = "steps"  ></app-combo-box>
          </div>
          <br>
          <button mat-raised-button color="primary" (click)="addCondition()"> Añadir condición</button>
        </div>
      </form>
    </mat-step>
    <mat-step state="add" [completed]="false" [editable]="false">
      <ng-template matStepLabel>
        <button mat-flat-button [disabled]="!allCompleted" (click)="addItem()" class="add_button" [disableRipple]="!allCompleted">
          Add a Step
        </button>
      </ng-template>
    </mat-step>
    <ng-template matStepperIcon="edit" let-index="index">
      {{index + 1}}
    </ng-template>
    <ng-template matStepperIcon="done" let-index="index">
      {{index + 1}}
    </ng-template>
    <ng-template matStepperIcon="add">
      <mat-icon>add</mat-icon>
    </ng-template>
  </mat-vertical-stepper>
</div>
