* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
}

.column1 {
  right: 0%;
  z-index: 99;
  top: 5.6%;
  position: fixed;
  width: 30%;
  height: 100%;
  padding: 1rem;
  border-left: 2px solid black;
}

#col2{
	width: 70%;
}

#TitleButton{
  margin-left: 1rem;
  height: 3em;
  align-self: center;
}

#Title{
  align-self: center;
  width:8em;
  height: 3em;
}

#synonym{
  width: 50% !important;
}

#3{
  width: 30%;
}
ng-template{
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.title{
  align-self: center;
}

.delete_icon{
  align-self: center;
}

.list{
  align-self: center;
  margin-left: 1.25ch;
}

.error{
  color: red;
  align-self: center;
  margin-left: 1rem;
}

.infokeywords{
  padding-left: 11rem !important;
  flex: 0.25;
  align-self: center;
  margin-left: 1rem;
  margin-right: 1rem;
}




