<h3>Inserción de terminos</h3>
<i>Idioma de los terminos
  <span>
      <app-combo-box-idioma ></app-combo-box-idioma>
  </span>
</i>
<br><br>
<h3 style="margin-top: 1rem;"> Lista de palabras clave </h3>
<div style="width: fit-content" class= "flex-container">
  <app-labels #synonym  [list] = "step[column][row].synonym" id = "synonym" [title] = titledd [placeholder] = placeholderdd [width] = widthSynonym ></app-labels>
  <app-info [info] = infodd class = "info a"></app-info>
</div>



<h3 style="margin-top: 1rem;"> Listado de palabras clave insertadas</h3>
<div class= "flex-container">
  <app-labels (removed)="remove($event)" (added)="addDd()" (update)="updateDd($event)" [list]="step[column][row].keywords" id="keywords" [title]=title [placeholder]=placeholder [width] = 100 #keywords></app-labels>
  <app-info [info] = infoKeywords class = "info infokeywords"></app-info>
</div>

