ng-sidebar-container {
  height: 100vh;
}

#header{
  background: #0F798F;
}
mat-icon{
  font-size: 50px;
}

a{
  text-decoration: none;
  color:black
}

::ng-deep .ng-sidebar{
  background-color:white;
  width: 200px;
  padding: 2em 3em;
  box-shadow: 0 0 2.5em rgb(85, 85, 85, 0.5);
}

.mat-vertical-stepper-header {
  height: auto !important;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 95%;
  width: 350px;
  position: absolute;
  z-index: 1;
  top: 48px;
  left: 0;
  background-color: #57D6B1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #eeff00;
}

.menu:hover + a:hover {
  color: #eeff00;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: auto;
  padding: 10px;
}

.column1 {
  float: right;
  width: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
