ng-sidebar-container {
  height: 100vh;
}

#header{
  background: #0273d4;
}
mat-icon{
  font-size: 50px;
}

a{
  text-decoration: none;
  color:black
}

::ng-deep .ng-sidebar{
  background-color:white;
  width: 200px;
  padding: 2em 3em;
  box-shadow: 0 0 2.5em rgb(85, 85, 85, 0.5);
}
