<!-- TODO: MIRAR QUE NO SE ME DESCUADREN AL HACE ZOOM -->
<div id="1"  [style.left.px]="left ? getPositionLeft() : (right ? getPositionRight() : '398')"  [ngClass]="left ? 'left': (right ? 'right' : 'posicion')" style=" width: fit-content; height: 150px;">
  <app-step-box (edit)="editStep()" class="step-box-position"></app-step-box>

  <div  id="2" style="width:fit-content; height: 28px;" class = "conditionals-positon">
      <div id="3" class="line-linkage-down"></div>
      <app-plus (open)="openSideBar()" class="plus-true"></app-plus>
      <div class="line-linkage-left-true"></div>
      <div id="4" style="width:fit-content ;" class="true-position">
        <app-true></app-true>
      </div>
      <div id="5" class="line-linkage-conditionals"></div>
      <div id="6" style="width:fit-content ;" class="false-position">
        <app-false></app-false>
      </div>
      <div id="7" class="line-linkage-right-false"></div>
      <div id="8" class="line-linkage-up-false"></div>
      <div id="9" class="line-linkage-up-left-false"></div>
  </div>
</div>
