span {
  color: #fff;
  width: 58px;
  height: 34px;
  display: flex;
  font-size: 0.85rem;
  background: #ffb700;
  font-weight: 500;
  align-items: center;
  border-radius: 0.3em;
  justify-content: center;
  cursor: inherit;
  flex: 1 0 auto;
  flex-direction: unset;
}
