.plus-position {
  position: relative;
  left: -2.3rem;
  top: 36px;
  height: 80px;
}

.left{
  position: relative;
  top: 31px;

}

.right{
  position: relative;
  top: 154px;
}

.position{
  position: relative;
  top: 20px
}
